body{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding:0;
	margin: 0;
	background-color: #f4f4f4;
	border:1px solid black;
}
nav ul{
	color: black;

}

.container{
	width: 90%;
	margin:auto;
	overflow: hidden;
}

/* header */
header{
	/*background-color: #f4f4f4;*/
	background-color: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e3491d 3px solid;
}
header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
header nav{
	float: right;
	margin-bottom:20px;
}
header #branding h1{
	margin:0;
	float:left;
}
header a:hover{
	color: #cccccc;
	font-weight: bold;
}

#welcome{
	font-size: 20;
	color:lightblue;
}
#showcase{
	min-height: 400px;
	background: url('../images/banner.jpg') no-repeat,;
	text-align:center;
	background-color:grey;
	vertical-align: top;

}
#return{
	text-align: right;
}
#newsletter{
		margin:4;
		text-align:right;
		background-color: lightblue;
		width: auto;
	    margin:auto;
	    overflow: hidden;
}
footer{
	background-color: maroon;
	text-align: center;
}
#main{
	position: absolute;
  width:100%;
  height:auto;
  border:0px solid black;
  padding:2px;
  text-align: center;
}
  #main > div{
    float:left;
    margin:0px;
  }
  #d1{
    width:30%;
    height:auto;
    
  }

  #d2{
    width:30%;
    height:auto;
  
  }
  #d3{
    width:40%;
    height:auto;
  
  }
  #admin_panel{
  	font-size: 70px;
  }
  #subscribe{
  	font-size: 60px;
  }
  #admin_dash{
  position:absolute;
  width:450px;px;
  height:240px;
  border:1px solid black;
  padding:10px;
}
#admin_dash > div{
  float:right;
  margin:10px;
  text-align: center;
}
#d1_dash{
  width:100px;
  height:20px;
  border:1px solid red;
}

#d2_dash{
  width:200px;
  height:20px;
  border:1px solid blue;

}
#d1_user{
   width:200px;
  height:20px;
  border:1px solid red;

}

}
#admin_panel{
	text-align: center;
}
/*#Questioner{
	color: white;	
    animation:blinkingText 5s infinite;
}
@keyframes blinkingText{
    0%{     color: white;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
<<<<<<< HEAD:UI/style/mycss.css
    b
}*/
=======
    b*/
}
>>>>>>> gh-pages:style/mycss.css
#image1{
		background: url('../images/technology.jpg') no-repeat,;
}
#newsletter{
	min-height: 100px;
	background: url('../images/banner.jpg') no-repeat,;
	text-align:center;
	background-color:lightblue;
	vertical-align: top;

}
#header3 {
	text-align: center;
}
#textarea {
	text-align: center;
}
#user_profile {
	text-align: center;
}
#table_row {
	max-height: 20px;
}
#table_row td {
width: 20px;
}
footer{
	background-color: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 50px;
	border-bottom: #e3491d 3px solid;
	text-align:center;}
.question{
	text-align: center;
}
table{
	padding-left: 2px;
	padding-right: 2px;
}
table,th,td{
	border:1px solid black;
}
.thank{
	text-align:center;
}
.post_question{
	text-align: center;
}
.admin{
	table-layout: fixed;
	width: 180px; 
}
.textbox{	
height:20px;
font-size:14pt;
}
.Profile_form{
	height: 5px;
	width: 5px;
}
.data{
	text-align: center;
}